.transactionHistory {
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(178, 181, 181);
  border-radius: 12px;
  box-shadow: 0px 0px 7px 3px rgba(191, 191, 191, 0.81);
}
thead {
  text-transform: uppercase;
  background-color: rgb(246, 129, 129);
}
tr:nth-child(even) {
  background-color: rgb(230, 231, 222);
}
th {
  font-size: 20px;
  text-align: center;
  padding: 10px 40px;
  border: 1px solid;
}
td {
  font-size: 15px;
  text-align: center;
  padding: 10px 40px;
  border: 1px solid;
}
